
      <!-- menus -->
  <div class="admin" class="navbar-collapse collapse">      
      <ul class="nav flex-column">
      <li class="nav-item">
       <a routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
          <a routerLink="/cust">Find Customer</a>
      </li>
      <li class="nav-item">
          <a routerLink="/cust">View Profile</a>
      </li>
      <li class="nav-item">
          <a routerLink="/list">Customer List</a>
      </li>
      <li class="nav-item">
          <a routerLink="/plans">Tarrif Plan</a>
      </li>
      <li class="nav-item">
            <a routerLink="/cust">Connection List</a>
               </li>
    
    </ul>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>