<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Care</title>
</head>
<body>
  <form action="">

  <h1>Post Your Complains Here</h1>
  
<div class="col-md-6">
    <strong>Complain Regarding:</strong><input type="text" style="width: 500px;">
    <br><br>
    <strong> Complain:</strong> <input type="textarea" style="width: 500px; height: 100px;"> 
    <strong><input type="submit" (click)="care()"  value="Post Complain"></strong>



</div>
<div class="col-md-6">
    <h3 style="color: skyblue">Contact Here 1800-200-2016</h3>
    <br><br>
    <strong><p style="">The complains regarding to your bill,calls anything can post here .
       </p>
       <div style="background-color: lightblue;
       height: 100px;
       width: 350px;
       ">

       <h3>You can also mails us your complains on this mail is portalhelpdesk@otbes.co.in</h3>
       </div>
    </strong>
</div>
  </form>
</body>
</html>